@model IEnumerable<AnimePrimeVideo.Models.VozModelo>

@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">
    <div class="row">
        <div class="offset-3 col-6">
            <h2>Actores de doblaje</h2>
        </div>
    </div>
    <div class="row fotos">
        <div class="col-2">
            <img src="~/Content/WebImages/voicepage.png" />
        </div>
        <div class="col-10">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="offset-1 col-3">
                        <div class="card" style="width: 18rem;">
                            <img src="../Content/VoiceActor/@item.Foto" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">@item.ActorDeVoz</h5>
                                <a href="#" class="btn btn-primary">Más detalles</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div>

        </div>
   </div>
</div>