@model IEnumerable<AnimePrimeVideo.Models.AnimeModelo>

@{
    ViewBag.Title = "Index";
}

<h2>Todos los animes</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            @foreach (var item in Model)
            {
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="~/Content/ImgAnime/@item.FotoAnime" style="width: 180px; height: 250px;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">@item.Titulo</h5>
                                <p class="card-text">Texto de prueba</p>
                                <button type="button" class="btn" style="background-color: hotpink; color: white; -webkit-text-stroke: 0.2px pink;">Ver Anime</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

